@mixin white-gradient {
	background: linear-gradient(to right, #1c1752 0%, #1c175200 100%);
}

$animationSpeed: 10s;

$size: 160px;
$number: 7;
$gap: 16px;

// Animation
@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(($size + $gap) * $number * -1))
	}
}


// Styling
.slider {
	// background: white;
	//box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	// margin: auto;
	// overflow: hidden;
	
	position: relative;

	// width: 960px;

	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100%;
		position: absolute;
		width: 100px;
		z-index: 20;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slideTrack1 {
		$animationSpeed: 60s;
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		gap: $gap;
		width: calc((($size + $gap) * $number * 2));
	}

	.slideTrack2 {
		$animationSpeed: 80s;
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		gap: $gap;
		width: calc((($size + $gap) * $number * 2));
	}

	.slideTrack3 {
		$animationSpeed: 45s;
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		gap: $gap;
		width: calc((($size + $gap) * $number * 2));
	}

	.slide {
		// height: 100px;
		width: $size;
		height: $size;
	}
}