@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Sora:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-rich-black;
    @apply text-white;
  }
}

@layer utilities {
  .ellipse {
    clip-path: ellipse(closest-side farthest-side);
  }

  .title-shadow {
    /* https://stackoverflow.com/a/13427256/7947225 */
    text-shadow:
      0 0 40px rgba(255, 255, 255, 0.5);
  }

  .card-pricing {
    background:
      linear-gradient(to bottom right, #131B3C, #0B011A) padding-box,
      linear-gradient(344.98deg, #626b923a, #626B92) border-box;

    border: 1px solid transparent;
  }

  .card-pricing-highlighted {
    background:
      linear-gradient(to bottom right, #131B3C, #0B011A) padding-box,
      linear-gradient(to bottom right, #B5AFF6, #5749DF) border-box;

    border: 4px solid transparent;
  }

  .linear {
    background: linear-gradient(to right, #D2DBFF 20%, #7469DF 40%, #7469DF 50%, #D2DBFF 80%);
    background-size: 200% auto;

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    animation: shine 4s linear infinite;

    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }
}